.Login{
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;

}
.wrapper_login{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;


}
.container_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;

}
.wrapper_img{
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper_image_logo{
    width: 100%;
    display: flex;
    justify-content: center;

}
.img_logo{
    width: 190px;
}


.h1_Form{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.form_login{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label_email, .label_password{
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;

}
.input_password, .input_email{
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    background-color: #f7f7f7;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;


}
.wrapper_remember{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.wrapper_checkbox{
    display: flex;
    align-items: center;
}
.input_checkbox{
    margin: 0%;
    
}
.label_checkbox{
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
    font-size: 12px;

}
.save_password{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.login_button_admin {
    border: none;
    height: 100%;
    margin: 0px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #EE6B4E;
    background-color: #EE6B4E;
    
}
.login_button_admin:hover{
    background: #f5f5f5;
    color: #EE6B4E;

}
